SERVER_PORT=3000

DB_USERNAME=postgress
DB_PASSWORD=admin
DB_DATABASE_NAME=boxbirds

DADATA_API_KEY=7fe195cc1d0e21dab1a2deb749bc52ae3aac2737

MINIO_ENDPOINT=host.docker.internal
MINIO_DOMEN=http://localhost
MINIO_PORT=9000
MINIO_USER=minioAdmin
MINIO_PASSWORD=minioPassword
MINIO_ACCESS_KEY=Pge40kq9qiFYZ5uL
MINIO_SECRET_KEY=U3W9LyU6TeDfpohyY0bnRrkxrXRXCVNm
MINIO_USE_SSL=false
MINIO_BUCKET_NAME=boxbirds

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=test@mail.ru
SMTP_PASSWORD=admin123123

HTTP_FRONT=http://localhost
HTTP_FRONT_CONFIRM=http://localhost/confirm
HTTP_FRONT_REPLACEPASSWORD=http://localhost/replace
